<?xml version="1.0" encoding="utf-8"?>
<Settings>
    <Sender>
        <SQLConnectionString>Server=SQLSCOM\SCOM;Database=SCOMAddons;Trusted_Connection=True;</SQLConnectionString>
        <FromAddress>vCloud@f.loc</FromAddress>
        <SMTPServerAddress>iis.f.loc</SMTPServerAddress>
    </Sender>
</Settings>